<br><br><br>
<div class="container">
    <div>
        <a routerLink='/admin/home' type="button" class="btn btn-primary">Retourner à l'acceuil</a>
        <br>
        <h1>Ajout d'un article</h1>
        <form [formGroup]="postForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="title">Titre</label>
                <input formControlName="title" type="text" class="form-control" id='title' name='title'>
            </div>
            <div class="form-group">
                <label for="content">Content</label>
                <editor id='content' apiKey='bvmbzm19yak9bvs5w11nqymtvr980g0ywqx6i1vc2ikhe1ad'  formControlName="content"  [init]="{
     height: 500,
     menubar: false,
     plugins: [
       'advlist autolink lists link image charmap print preview anchor',
       'searchreplace visualblocks code fullscreen',
       'insertdatetime media table paste code help wordcount'
     ],
     toolbar:
       'undo redo | formatselect | bold italic backcolor | \
       alignleft aligncenter alignright alignjustify | \
       bullist numlist outdent indent | removeformat | help'
   }"></editor>

            </div>
            <div class="form-group">
                <h4>Ajouter des photos</h4>
                <input type="file" multiple (change)="detectFiles($event)" class="form-control" accept="image/*">
                <p class="text-success" *ngIf="fileUploaded">Fichier chargé !</p>
            </div>
            <button [disabled]="postForm.invalid || fileIsUploading " class="btn btn-primary">Ajouter ce post</button>

        </form>
        <div [hidden]='success' class="alert alert-success" role="alert">
            Vous avez ajouté un article
        </div>

    </div>
</div>